<template name="profile">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{_ "profile_page_title"}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <!-- {{> atNavButton }} -->
      {{#with userProfile}}
      <div class="padding">

        {{#ionList}}

          {{#ionItem class="item item-icon-left"}}
            <i class="icon ion-person"></i>
            {{_ "user_profile_title"}}
            <span class="item-note">
              {{firstName}}, {{lastName}}
            </span>
          {{/ionItem}}

          {{#if isTeacher}}
            {{#ionItem class="item item-icon-left item-icon-right" path="classroomHistoryList"}}
              <i class="icon ion-ios-clock"></i>
              {{_ "classroom_history_list_title"}}
              <span class="badge badge-calm">{{historyClassroomCount}}</span>
            {{/ionItem}}
            {{#ionItem id=this._id class="item item-icon-left item-icon-right" path="classParticipationRecords"}}
              <i class="icon ion-clipboard"></i>
              {{_ "participation_records_title"}}
              <span class="badge badge-calm">{{trackedClassNumber}}</span>
            {{/ionItem}}
          {{else}}
            {{#ionItem id=this._id class="item item-icon-left item-icon-right" path="studentAchievements"}}
              <i class="icon ion-ribbon-a"></i>
              {{_ "my_achievement_title"}}
              <span class="badge badge-calm">{{targetNum}}</span>
            {{/ionItem}}
          {{/if}}

          {{#ionItem class="item item-icon-left" id="switchRole"}}
            <i class="icon ion-arrow-swap"></i>
            {{_ "switch_role_button_text"}}
            <span class="item-note">
              {{i18n_UserType userType}}
            </span>
          {{/ionItem}}

          {{#ionItem class="item item-icon-left" id="selectLanguage" path="selectLanguage"}}
            <!-- <i class="icon"><img class="cusicon" src="/translate.png"/></i> -->
            <i class="icon ion-ios-world"></i>
            {{_ "select_language_button_text"}}
            <span class="item-note">
              {{i18n_CurLanguageName}}
            </span>
          {{/ionItem}}

          <!-- {{#ionItem class="item item-icon-left" id="feedback"}}
            <i class="icon ion-email"></i>
            Feedback
          {{/ionItem}} -->

          {{#ionItem class="item item-icon-left assertive" id="logout"}}
            <i class="icon ion-log-out assertive"></i>
            {{_ "logout_button_text"}}
          {{/ionItem}}

        {{/ionList}}

      </div>

	  {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>
