<template name="profile">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <!-- {{> atNavButton }} -->
      {{#with userProfile}}
      <div class="padding">

        {{#ionList}}

          {{#ionItem class="item item-icon-left"}}
            <i class="icon ion-person"></i>
            User profile
            <span class="item-note">
              {{firstName}}, {{lastName}}
            </span>
          {{/ionItem}}

          {{#if isTeacher}}
            {{#ionItem class="item item-icon-left item-icon-right" path="classroomHistoryList"}}
              <i class="icon ion-ios-clock"></i>
              Classroom history list
              <span class="badge badge-assertive">{{historyClassroomCount}}</span>
            {{/ionItem}}
          {{else}}
            {{#ionItem id=this._id class="item item-icon-left item-icon-right" path="studentAchievements"}}
              <i class="icon ion-ribbon-a"></i>
              My Achievements
              <span class="badge badge-calm">80%</span>
            {{/ionItem}}
          {{/if}}

          {{#ionItem class="item item-icon-left" id="switchRole"}}
            <i class="icon ion-arrow-swap"></i>
            Switch Role
            <span class="item-note">
              {{userType}}
            </span>
          {{/ionItem}}

          <!-- {{#ionItem class="item item-icon-left" id="feedback"}}
            <i class="icon ion-email"></i>
            Feedback
          {{/ionItem}} -->

          {{#ionItem class="item item-icon-left assertive" id="logout"}}
            <i class="icon ion-log-out assertive"></i>
            Logout
          {{/ionItem}}

        {{/ionList}}

      </div>

	  {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>
