<template name="switchRole">
	<label class="item item-radio">
		<input id="userType-Student" type="radio" class="userType" name="userType" value="Student">
		<div class="item-content">Student</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>
	<label class="at-input item item-radio item-text-wrap">
		<input id="userType-Teacher" type="radio" class="userType" name="userType" value="Teacher">
		<div class="item-content">Teacher</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>
</template>