<template name="teacherWork">  
	{{#contentFor "headerTitle"}}
		<h1 class="title">Work Mode</h1>
	{{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{#if hasCurClassroom}}
      <button class="button button-clear" data-ion-popover="teacherMenu">
        {{#if isAndroid}}
          {{> ionIcon icon='android-more-vertical'}}
        {{else}}
          {{> ionIcon icon='more'}}
        {{/if}}
      </button>
    {{else}}
      <button class="button button-clear " data-ion-modal="createClassroom">
        <i class="icon ion-ios-plus-empty"></i>
      </button>
    {{/if}}
  {{/contentFor}}
  

  {{#ionView}}
    {{#if hasCurClassroom}}
      {{#ionSubheaderBar class="bar-stable subtitle"}}
          <h2 class="title">{{classroomName}}</h2>
      {{/ionSubheaderBar}}
    {{/if}}

    {{#ionContent class="has-footer"}}
    	{{#if hasCurClassroom}}
        {{#HammerTouchArea gestureMap=longHoldGesture}}
    			<div class="wrapper">
    				{{#each tickets}}
            <div class="ticketSquare">
    				  <div id={{_id}}  class="avatar" style={{changeColor ticketContent}}>
                <a class="icon">{{ticketContent}}</a>
    				    <div class="bottom_badge">{{user.participation.attendTimes}}</div>
    				    <div class="top_badge">{{user.participation.selectedTimes}}</div>
    				  </div>
              <p>{{user.profile.firstName}}, {{user.profile.lastName}}</p>
            </div>
            {{ afterRenderTrigger}}
    				{{/each}}
    			</div>
        {{/HammerTouchArea}}
		{{else}}
			{{> classCreate}}
		{{/if}}
    {{/ionContent}} 
  {{/ionView}}

</template>  