<template name="trendingAreaChart">
	<div class="list chart_title">
		<div class="item item-divider item-icon-right">
			{{chartName}}
			<i class="icon ion-ios-reload" id="refreshChart"></i>
		</div>
	</div>
	<div class="period_switcher">
		<div class="switch-field">
			<input type="radio" id="daily{{uniqChartId}}" class="switch_btn" name={{uniqChartId}} value="days" {{isChecked 'days'}}/>
			<label for="daily{{uniqChartId}}">{{_ "time_unit_type_str" context="day"}}</label>
			<input type="radio" id="weekly{{uniqChartId}}" class="switch_btn" name={{uniqChartId}} value="weeks" {{isChecked 'weeks'}}/>
			<label for="weekly{{uniqChartId}}">{{_ "time_unit_type_str" context="week"}}</label>
			<input type="radio" id="monthly{{uniqChartId}}" class="switch_btn" name={{uniqChartId}} value="months" {{isChecked 'months'}}/>
			<label for="monthly{{uniqChartId}}">{{_ "time_unit_type_str" context="month"}}</label>
	    </div>
	</div>
	<div class="trending_area_chart" id={{uniqChartId}}>
		<h4 class="placeholder_text">{{_ "chart_empty_placeholder_text"}}</h4>
	</div>
	<!--
	<div class="period_switcher">
		 <ul class="time-lenght horizontal-list">
	        <li><a class="time_unit_btn" id="daily" >Day</a></li>
	        <li><a class="time_unit_btn" id="weekly" >Week</a></li>
	        <li><a class="time_unit_btn" id="monthly" >Month</a></li>
	    </ul> -->

	    <!-- <div class="list">

        <label class="item item-radio">
          <input type="radio" name="group" value="go" checked="checked">
          <div class="radio-content">
            <div class="item-content">
              Go
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </div>
        </label>

        <label class="item item-radio">
          <input type="radio" name="group" value="python">
          <div class="radio-content">
            <div class="item-content">
              Python
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </div>
        </label>

      </div> -->
		<!-- {{#ionRadio name="type" value="monthly"}}
			Montly
		{{/ionRadio}}
		{{#ionRadio name="type" value="weekly"}}
			Weekly
		{{/ionRadio}}
		{{#ionRadio name="type" value="daily"}}
			Daily
		{{/ionRadio}} 
		
	</div> -->
</template>