<template name="editClassroom">  
{{#ionModal title="edit_classroom_page_title"}}
	{{#with classroomInfo}}
		<form class="edit_classroom">
			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">{{_ "edit_classroom_class_name_title"}}</span>
			    <input type="text" name="classroomName" placeholder={{_ "edit_classroom_class_name_placeholder"}} value="{{name}}" />
			    <span class="errorMsg positive" name="classroomNameErr">
			    	{{_ "class_name_already_exist_error_msg"}}
			    </span>
			  </label>
			  <!-- <label class="item item-input item-stacked-label">
			    <span class="input-label">Shortcode</span>
			    <input type="text" name="shortcode" placeholder="Optional">
			  </label> -->
			  <!-- <label class="item item-input item-stacked-label">
			    <span class="input-label">Description</span>
			    <input type="text" name="description" placeholder="About gravity and black hole">
			  </label> -->
			  <!-- <label class="item item-input item-stacked-label">
			    <span class="input-label">Subject</span>
			    <input type="text" placeholder="Science">
			  </label> -->
				
				<div class="button-bar">
					<button type="submit" class="button button-positive">
						{{_ "edit_classroom_button_text"}}
					</button>
				</div>
			</div>
		</form>
	{{/with}}
{{/ionModal}}
</template>