<template name="classEntry">
	<div class="row padding">
		<div class="col-80 col-offset-10">
			<div class="list card">
			  <a id="pickClassroom" href="#" class="item item-icon-left item-calm text-center classentry-button">
			    <i class="icon"><img class="classentry-icon" src="/list.png"/></i> Pick a classroom from list
			  </a>
			</div>
		</div>
	</div>

	<div class="row padding">
		<div class="col-80 col-offset-10">
			<div class="list card">
			  <a id="EnterName" href="#" class="item item-icon-left item-calm text-center classentry-button">
			    <i class="icon"><img class="classentry-icon" src="/input.png"/></i> Enter Classroom Name
			  </a>
			</div>
		</div>
	</div>

	<div class="row padding">
		<div class="col-80 col-offset-10">
			<div class="list card">
			  <a id="scanQRCode" href="#" class="item item-icon-left item-calm text-center classentry-button">
			    <i class="icon"><img class="classentry-icon" src="/qrscan.png"/></i> Scan QR code
			  </a>
			</div>
		</div>
	</div>
</template>