<template name="classEntry">
	<!-- {{#contentFor "headerTitle"}}
		<h1 class="title">Pick a classroom to start</h1>
	{{/contentFor}} -->
	
	<!-- {{#ionView}}
	    {{#ionSubheaderBar class="bar-stable subtitle"}}
	    	<h2 class="title">Use one of the option</h2>
	    {{/ionSubheaderBar}}

		{{#ionContent class="padding"}} -->
			<div class="row">
				<div class="col-80 col-offset-10">
					<div class="list card">
					  <a id="pickClassroom" href="#" class="item item-icon-left item-calm text-center classentry-button">
					    <i class="icon"><img class="classentry-icon" src="/list.png"/></i> Pick from list
					  </a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-80 col-offset-10">
					<div class="list card">
					  <a id="scanQRCode" href="#" class="item item-icon-left item-calm text-center classentry-button">
					    <i class="icon"><img class="classentry-icon" src="/qrscan.png"/></i> Scan QR code
					  </a>
					</div>
				</div>
			</div>
<!-- 		{{/ionContent}}
	{{/ionView}} -->
</template>