<template name="classEntry">
	<!-- {{#contentFor "headerTitle"}}
		<h1 class="title">Pick a classroom to start</h1>
	{{/contentFor}} -->
	
	<!-- {{#ionView}}
	    {{#ionSubheaderBar class="bar-stable subtitle"}}
	    	<h2 class="title">Use one of the option</h2>
	    {{/ionSubheaderBar}}

		{{#ionContent class="padding"}} -->
			<!-- <div class="row">
				<div class="col">
					<div class="list card">
					  <div class="item item-input-inset">
					    <label class="item-input-wrapper">
					      <input type="text" placeholder="ShortCode">
					    </label>
					    <button class="button button-calm button-small">
					      Enter
					    </button>
					    <p>or</p>
					    <button class="button button-calm button-small">
					      Scan
					    </button>
					  </div>
					</div>
				</div>
			</div> -->

			<!-- <div class="row">
				<div class="col">
				  <label class="item item-input item-floating-label">
				    <span class="input-label">First Name</span>
				    <input type="text" placeholder="ShortCode">
				  </label>
				</div>
			</div> -->

			<!-- <div class="row">
				<div class="col-80 col-offset-10">
					<div class="list card">
					  <a id="pickClassroom" href="#" class="item item-icon-left item-calm text-center classentry-button">
					    <i class="icon"><img class="classentry-icon" src="/list.png"/></i> Pick from list
					  </a>
					</div>
				</div>
			</div> -->
			<!-- <div class="entry-options">
				<div class="row">
					<div class="col-80 col-offset-10">
						<div class="list card">
						  <a id="shortCode" href="#" class="item item-icon-left item-calm text-center classentry-button">
						    <i class="icon"><i class="classentry-icon icon ion-wand"></i></i> Enter ShortCode
						  </a>
						</div>
						<div class="list card">
						  <a id="scanQRCode" href="#" class="item item-icon-left item-calm text-center classentry-button">
						    <i class="icon"><img class="classentry-icon" src="/qrscan.png"/></i> Scan QR code
						  </a>
						</div>
					</div>
				</div>

			<div class="row">
				<div class="col-80 col-offset-10">
					<div class="list card">
					  <a id="scanQRCode" href="#" class="item item-icon-left item-calm text-center classentry-button">
					    <i class="icon"><img class="classentry-icon" src="/qrscan.png"/></i> Scan QR Code
					  </a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-80 col-offset-10">
					<div class="list card">
					  <a id="recentAttended" href="#" class="item item-icon-left item-calm text-center classentry-button">
					    <i class="icon"><i class="classentry-icon icon ion-android-time"></i></i> Recently Attended
					  </a>
					</div>
				</div>
			</div> -->
			<div class="history-class">
				<form class="shortCodeForm">
					<div class="bar bar-header item-input-inset">
						<label class="item-input-wrapper" id="shortCodeInputWrapper">
							<input type="text" name="shortCode" placeholder="Input short code to start...">
						</label>
						<button class="button button-calm" type="submit">
							&nbsp;Join&nbsp;
						</button>
					</div>
				</form>
				<div class="item item-stable item-toggle">
		          	Recently Attended Class
					<label class="toggle toggle-calm">
						<input type="checkbox" class="listToggle">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
		        </div>
	        	{{#ionList}}
					{{#each attendedClasses}}
						{{#ionItem id=this._id classStatus=this.status class="classroomItem item item-thumbnail-left item-icon-right"}}
							<img src={{getImage logo}}>  
							<h2>{{name}}</h2>
							<p>Status: {{status}}</p>
							<p>Teacher: {{getTeacherName tid}}</p>
							<p>Create Date: {{formatDate createDate}}</p>
						{{/ionItem}}
					{{/each}}
				{{/ionList}}
			</div>
<!-- 		{{/ionContent}}
	{{/ionView}} -->
</template>