<template name="sysAdminLayout">
	{{#ionBody}}
		{{#ionSideMenuContainer}}
			{{#ionSideMenus}}
				{{#ionSideMenu}}
					<div class="bar bar-header bar-dark">
						<h1 class="title">{{_ "sys_admin_menu"}}</h1>
					</div>
					<div class="content has-header" data-ion-menu-close>
						{{#ionItem class="item item-icon-left" path='participationTrending'}}
							<i class="icon ion-ios-people"></i>
							{{_ "participation_trending"}}
						{{/ionItem}}
					</div>
					<div class="content has-header" data-ion-menu-close>
						{{#ionItem class="item item-icon-left" path='userManagement'}}
							<i class="icon ion-ios-people"></i>
							{{_ "user_management"}}
						{{/ionItem}}
					</div>
					<div class="content has-header" data-ion-menu-close>
						{{#ionItem class="item item-icon-left" path='feedbackAndIssue'}}
							<i class="icon ion-bug"></i>
							{{_ "feedback_and_issue"}}
						{{/ionItem}}
					</div>
					<div class="content has-header">
						{{#ionItem class="item item-icon-left assertive" id="logout"}}
							<a class="icon ion-log-out assertive"></a>
							{{_ "logout_button_text"}}
						{{/ionItem}}
					</div>
				{{/ionSideMenu}}
			{{/ionSideMenus}}
			{{#ionSideMenuContent}}
				{{> ionNavBar class="bar-stable"}}
				{{#ionNavView}}
					{{> yield}}
				{{/ionNavView}}
			{{/ionSideMenuContent}}
		{{/ionSideMenuContainer}}
	{{/ionBody}}
</template>
