<template name="classCreate">
	<div class="row padding">
		<div class="col-80 col-offset-10">
			<div class="list card">
			  <a id="createClassroom" data-ion-modal="createClassroom" href="#" class="item item-icon-left item-calm text-center classcreate-button">
			    <i class="icon"><img class="classcreate-icon" src="/createClass.png"/></i> Create a classroom
			  </a>
			</div>
		</div>
	</div>

	<div class="row padding">
		<div class="col-80 col-offset-10">
			<div class="list card">
			  <a id="pickFromHistory" href="#" class="item item-icon-left item-calm text-center classcreate-button">
			    <i class="icon"><img class="classcreate-icon" src="/history.png"/></i> Pick from History
			  </a>
			</div>
		</div>
	</div>
</template>