<template name="ticketPanel">
    <div id="carousel">
        <div class="container">
        </div>
    </div>
    <nav>
        <input checked='checked' class='menu-toggler' id='menu-toggler' type='checkbox'>
        <label for='menu-toggler'></label>
        <div class='menu-toggler-circle'></div>
        <ul class="{{panelClass}}">
            {{#each menuArg}}
                <li class='menu_item flipCircle-container' id='{{menuType}}'>
                    <!-- <div class="outer-ring"></div> -->
                    <div class="flipCircle">
                        <div class="front">
                            <a class='icon {{menuIconClass}}' target='_blank' style={{menuStyle}}>{{menuValue}}</a>
                        </div>
                        <div class="back">
                            <a class='icon ion-ios-checkmark-outline check_icon'> </a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </nav>
</template>
