<template name="studentTalk">  
	{{#contentFor "headerTitle"}}
		<h1 class="title">Talk Mode</h1>
	{{/contentFor}}
	
	{{#ionView}}
	    {{#ionSubheaderBar class="bar-stable subtitle"}}
			{{#if hasCurClassroom}}
				{{#with classroom}}
	    		<h2 class="title">{{name}} [{{status}}]</h2>
				{{/with}}
	    	{{else}}
	    		<h2 class="title">Pick a classroom!</h2>
	  	{{/if}}
	    {{/ionSubheaderBar}}

		{{#ionContent class="padding"}}
			{{#if hasCurClassroom}}
				<div id="carousel">
				    <div class="container">
				    	
				    </div>
				  </div>

				  <!-- <div id="circles-counter">
				    <span>0 circles</span>
				  </div> -->
				  
				<nav class='circle-menu'>
				  <input checked='checked' class='menu-toggler' id='menu-toggler' type='checkbox'>
				  <label for='menu-toggler'></label>
				  <ul>
				    <li class='talktab-menu-item'>
				      <a class='icon ion-android-contacts' id="build" target='_blank'></a>
				    </li>
				    <li class='talktab-menu-item'>
				      <a class='icon ion-ios-lightbulb' id="new_idea" target='_blank'></a>
				    </li>
				    <li class='talktab-menu-item'>
				      <a class='icon ion-help' id="question" target='_blank'></a>
				    </li>
				    <li class='talktab-menu-item'>
				      <a class='icon ion-alert' id="challenge" target='_blank'></a>
				    </li>
				  </ul>
				</nav>
			{{else}}
				{{> classEntry}}
			{{/if}}
	    {{/ionContent}} 
	{{/ionView}}
</template>  