<template name="studentTalk">  
	{{#contentFor "headerTitle"}}
		<h1 class="title">Talk Mode</h1>
	{{/contentFor}}

	{{#ionContent class="padding"}}
		<div class="controler">
	      <div class="left"></div>
	      <div class="middle"></div>
	      <div class="right"></div>
	      <div class="left2">
	        <div class="circle">
	          <div class="horizontal"></div>
	          <div class="vertical"></div>
	        </div>
	      </div>
	      <div class="middle2">
	        <div class="select"></div>
	        <div class="start"></div>
	      </div>
	      <div class="right2">
	        <div class="circle">
	          <div class="top">
	            <button class="green" id="build">Build</button>
	            <button class="blue" id="new_idea">Idea</button>
	          </div>
	          <div class="bottom">
	            <button class="orange" id="question">Question</button>
	            <button class="red" id="challenge">Challenge</button>
	          </div>
	        </div>
	      </div>
	    </div>
    {{/ionContent}} 
</template>  