.trending_area_chart{
	height: 80%;
}

.breakdown_pie_chart{
	height: 80%
}

.list.chart_title{
	height: 20%;
	margin-bottom:0px;
}


/*********************** stats trend card **********************************/
@import url(https://fonts.googleapis.com/css?family=Varela+Round:400);
@import 'colorVariables.scss';

$sans-serif: "Varela Round", sans-serif; 


.line_chart_card {
  padding: 2%;
  font: 400 16px/1.6 $sans-serif;
}

.stats_title {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 1.5em 10% 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
}

.summary-card {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  list-style: none;
  
  li {
    float: left;
    width: 100%;
    margin: 0 2px 2px 0;
  }
  
  a {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0 0 .8em;
    border-radius: .5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, .9);
    color: #000;
    text-decoration: none;
    
    //&:hover,
    //&:focus {
    //  background: rgba(255, 255, 255, .9);
    //} 
  }
}

.summary-score {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  float: left;
  width: 48%;
  padding: 0 3% 0 10%;
  font-size: 12px;
  font-style: normal;
  color: rgba(0, 0, 0, .3);

  i {
    color: $dark;
    display: block;
    font-style: normal;
    font-size: 48px;
    line-height: 1;
  }
}

.summary-past {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  float: left;
  width: 52%;
  padding: 1.5em 7% 0;
  color: rgba(0, 0, 0, .3);
  font-style: normal;
  font-size: 12px;
  text-align: right;
  //letter-spacing: .02em;
  
  i {
    display: block;
    margin: 0 0 0 -.65em;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
  }
}

.summary-negative i {
  color: darken($peach, 10);
}

.summary-positive i {
  color: darken($lime, 35);
}

.ct-chart {
  position: absolute !important;
  bottom: 0;
  left: -2px;
  width: 100%;
  height: 100%;

  .ct-line {
    stroke-width: 5px !important;
    stroke: desaturate(lighten($calm, 15), 20) !important;
  }
}


/*********************** data title trend card **********************************/
@media only screen and (max-width : 720px){
  .data_title_trend_chart{
    width: 98%;
  }
}

@media only screen and (max-width: 3000px) and (min-width: 721px){
  .data_title_trend_chart{
    width: 46%;
  }
}

.data_title_trend_chart{
    margin: 2%;
    height: 300px;
}

.bang_chart{
  border: none; 
  height:62%;
  img{
    position: relative;
      top: 50%;
      transform: translateY(-50%);
  }
}

.class_title{
  height: 20%;
  border-bottom: none;
}

.summary_data{
  height: 100%;
  li {
    width: 31%;
    text-align: center;
    display: inline-block;
    border-right: solid 1px #bdc3c7;
  }
  li:last-child {
    border: none; 
    color: $dark;
  }
  li span {
    display: block;
    margin-top: .6em;
    font-weight:lighter;
  }
}


.data_title{
  height: 18%;
  padding: 1%;
  li {
    width: 31%;
    text-align: center;
    display: inline-block;
    border-right: solid 1px #bdc3c7;
  }
  li:last-child {
    border: none; 
    color: $dark;
  }
  li span {
    display: block;
    margin-top: .6em;
    font-weight:lighter;
  }
}


@media only screen and (max-width: 360px) {
  .data_title{
    li {
      font-size: 6.2vw;
    }
    li span {
      font-size: 2.6vw;
    }
  }
  .summary_data{
    li {
      font-size: 6.2vw;
    }
    li span {
      font-size: 2.6vw;
    }
  }
  .bang_chart .ct-label.ct-label-pie{
    font-size: 5.3vw;
  }
  .bang_chart .ct-label.ct-label-pie.ct-label-subtitle{
    font-size: 3.5vw;
  }
  .general_summary_chart .ct-label.ct-label-pie{
    font-size: 5.3vw;
  }
  .bang_chart{
    img{
      padding:18px;
    }
  }
}

@media only screen and (max-width: 420px) and (min-width : 361px) {
  .data_title{
    li {
      font-size: 6.2vw;
    }
    li span {
      font-size: 2.6vw;
    }
  }
  .summary_data{
    li {
      font-size: 6.2vw;
    }
    li span {
      font-size: 2.6vw;
    }
  }
  .bang_chart .ct-label.ct-label-pie{
    font-size: 5.3vw;
  }
  .bang_chart .ct-label.ct-label-pie.ct-label-subtitle{
    font-size: 3.5vw;
  }
  .general_summary_chart .ct-label.ct-label-pie{
    font-size: 5.3vw;
  }
  .bang_chart{
    img{
      padding:18px;
    }
  }
}

@media only screen and (max-width : 750px) and (min-width : 420px){
  .data_title{
    li {
      font-size: 28px;
    }
    li span {
      font-size: 15px;
    }
  }
  .summary_data{
    li {
      font-size: 28px;
    }
    li span {
      font-size: 15px;
    }
  }
  .bang_chart .ct-label.ct-label-pie{
    font-size: 25px;
  }
  .bang_chart .ct-label.ct-label-pie.ct-label-subtitle{
    font-size: 15px;
  }
  .general_summary_chart .ct-label.ct-label-pie{
    font-size: 28px;
  }
  .bang_chart{
    img{
      padding:18px;
    }
  }
}

@media only screen and (max-width : 3000px) and (min-width : 760px){
  .data_title{
    li {
      font-size: 30px;
    }
    li span {
      font-size: 15px;
    }
  }
  .summary_data{
    li {
      font-size: 30px;
    }
    li span {
      font-size: 15px;
    }
  }
  .bang_chart .ct-label.ct-label-pie{
    font-size: 30px;
  }
  .bang_chart .ct-label.ct-label-pie.ct-label-subtitle{
    font-size: 15px;
  }
  .general_summary_chart .ct-label.ct-label-pie{
    font-size: 35px;
  }
  .bang_chart{
    img{
      padding:58px;
    }
  }
}

/*****************************************************************************************/
