.login-icon{
  text-align: center;
  padding-top: 20px;
}
.app-icon{
  width: 120px;
}
.login-screen{
  background-color: #03A9F4;
}
.login-screen div{
  background-color: #03A9F4;
}
.login-screen .item-input{
  padding: 6px 16px 5px 16px;
}
.login-screen .item-radio{
  /*margin: 6px 16px 5px 16px;*/
}
.login-screen .input-label{
  color:#FFFFFF;
  font-family: "Roboto", sans-serif;
  width:80%;
}
.login-screen .item{
  border-width:0px;
}
