@import 'colorVariables.scss';

.general_summary{
	height: 15%;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.general_summary_chart{
	height:100%	
}

.class_detail_achievements{
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-between;
}

.class-chart{
	margin: 2%;
	width: 46%;
	height: 300px;
}

@media only screen and (max-width: 320px) {
	.general_summary{
		height: 60px;
	}

	.class-chart{
		height: 250px;
	}
}

@media only screen and (max-width: 360px) {
	.general_summary{
		height: 85px;
	}
}

@media only screen and (max-width: 420px) and (min-width : 361px) {
	.general_summary{
		height: 100px;
	}
}

@media only screen and (max-width : 750px) and (min-width : 420px){
	.general_summary{
		height: 130px;
	}
}

@media only screen and (max-width : 3000px) and (min-width : 630px){
	.general_summary{
		height: 130px;
	}

	.add_class{
		height: 250px;
		width: auto;
		display: block;
    	margin: auto;
	}
}

@media only screen and (max-width : 3000px) and (min-width : 760px){
	.general_summary{
		height: 140px;
	}
}
