@import 'colorVariables.scss';

.class_record_history_page .breakdown_chart{
	height: 40%
}

.class_record_history_page .trending_chart {
	height: 40%;	
}

.student_partci_record_modal .breakdown_chart{
	height: 50%;
}

.student_partci_record_modal .trending_chart{
	height: 50%;
}

.class_participation_record_page{
	background: $stable;
}

.class_overall_summary{
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}