@import 'colorVariables.scss';

// circle menu for student talk tab
$toggler-size: 35px;

$menu-item-class: "menu_item";
$toggler-color: $stable;
$item-bgcolor: $stable;
$toggler-transition: transform .5s, top .5s;

$talk-menu-class: "talk_panel";
$work-menu-class: "work_panel";
$talk-menu-count: 4;
$work-menu-count: 10;

$item-count: 10;
$item-size: $toggler-size * 2;
$item-color: $calm;
$item-transition: .5s;


@mixin transform ($totalCount, $index, $radius: 100px ) {
    transform: rotate(360deg / $totalCount * $index) translateX(-$item-size - $radius);
}

@mixin rotate ($totalCount, $index) {
    transform: rotate(-360deg / $totalCount * $index);
}

@mixin nthTransform($radius:100px){
  @for $i from 0 through $talk-menu-count - 1 {
    &.#{$talk-menu-class} {
      .#{$menu-item-class}:nth-child(#{$i + 1}) {
        @include transform($talk-menu-count, $i,$radius);
      }
    } 
  }

  @for $i from 0 through $work-menu-count - 1 {
    &.#{$work-menu-class} {
      .#{$menu-item-class}:nth-child(#{$i + 1}) {
        @include transform($work-menu-count, $i,$radius);
      }
    } 
  }
}

@mixin nthRotate(){
  @for $i from 0 through $talk-menu-count - 1 {
    .#{$talk-menu-class} {
      .#{$menu-item-class}:nth-child(#{$i + 1}) a{
        @include rotate($talk-menu-count, $i);
      } 
    }
  }

  @for $i from 0 through $work-menu-count - 1 {
    .#{$work-menu-class} {
      .#{$menu-item-class}:nth-child(#{$i + 1}) a{
        @include rotate($work-menu-count, $i);
      }
    } 
  }
}

@media only screen and (max-width : 321px){
  .menu-toggler:checked ~ ul {
    @include nthTransform(45px);
  }
}

@media only screen and (max-width : 420px) and (min-width : 321px){
  .menu-toggler:checked ~ ul {
    @include nthTransform(70px);
  }
}

@media only screen and (max-width : 3000px) and (min-width : 420px){
  .menu-toggler:checked ~ ul {
    @include nthTransform(100px);
  }
}

@mixin size ($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin absolute-center {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto !important;
}

@mixin line {
  @include size($toggler-size, $toggler-size/8);
  display: block;
  z-index: 2;
  border-radius: $toggler-size/16;
  background: $toggler-color;
  transition: $toggler-transition;
}

// styles

body {
  overflow: hidden;
}

.menu-toggler {
  @include absolute-center;
  @include size($toggler-size);
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  
  &:hover + label,
  &:hover + label:before,
  &:hover + label:after {
    background: $toggler-color;
  }
}

.menu-toggler:checked {
  & + label {
    background: transparent;
  }
  
  & + label:before,
  & + label:after {
    top: 0;
    width: $toggler-size;
    transform-origin: 50% 50%;
  }
  
  & + label:before {
    transform: rotate(45deg);
  }
  
  & + label:after {
    transform: rotate(-45deg);
  }
}

.menu-toggler:checked ~ ul {
  .#{$menu-item-class} {
    opacity: 1;
  }
  
  .#{$menu-item-class} a {
    pointer-events: auto;
  }
}

.menu-toggler-circle {
  @include absolute-center;
  border-radius: 50%;
  background: #424242;

  @include size($toggler-size*1.7);
  z-index: 1;
  cursor: pointer;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.menu-toggler + label {
  @include line;
  @include absolute-center;
  
  &:before,
  &:after {
    @include line;
    content: "";
    position: absolute;
    left: 0;
  }
  
  &:before {
    top: $toggler-size/4;
  }
  
  &:after {
    top: -$toggler-size/4;
  }
}


@include nthRotate();

.#{$menu-item-class} {
  @include absolute-center;
  @include size($item-size);
  display: block;
  opacity: 0;
  transition: $item-transition;
}

.#{$menu-item-class} a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: $item-size;
  color: rgba($item-color, 0.7);
  background: rgba($item-bgcolor, 0.2);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: $item-size/2;
  pointer-events: none;
  transition: .2s;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  
  &:hover {
    box-shadow: 0 0 0 $item-size/40 rgba(white, 0.3);
    color: $item-color;
    background: rgba(white, 0.3);
    font-size: $item-size/1.8;
  }

  &:active{
    opacity: 0.3;
  }
}

.#{$work-menu-class} a{
  color: rgba(black, 0.7);
}

#viewTitle {
  text-align:center;
}