<template name="teacherTab">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
      {{> ionTab title="Talk" path="teacherTalk" icon="chatboxes"}}
      {{> ionTab title="Work" path="teacherWork" icon="edit"}}
      {{> ionTab title="Profile" path="userProfile" icon="person"}}
    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios"}}
      {{> ionTab title="Talk" path="teacherTalk" iconOff="ios-chatboxes-outline" iconOn="ios-chatboxes"}}
      {{> ionTab title="Work" path="teacherWork" iconOff="ios-paper-outline" iconOn="ios-paper"}}
      {{> ionTab title="Profile" path="userProfile" iconOff="ios-person-outline" iconOn="ios-person"}}
    {{/ionTabs}}
  {{/if}}
</template>
