<template name="studentWork">  
	{{#contentFor "headerTitle"}}
		{{#if hasCurClassroom}}
			{{#with classroom}}
				<h1 class="title title-center">{{_ "work_mode_title"}}</h1>
			{{/with}}
		{{else}}
			<h1 class="title">{{_ "student_class_entry_title"}}</h1>
		{{/if}} 	
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		{{#if hasCurClassroom}}
			<button class="button button-clear" id="studentMenu" data="Work Ticket">
			  {{#if isAndroid}}
			    {{> ionIcon icon='android-more-vertical'}}
			  {{else}}
			    {{> ionIcon icon='more'}}
			  {{/if}}
			</button>
		{{else}}
			<div id="scanQRCode" class="button button-clear">
				<i class="icon ion-ios-barcode-outline"></i>
			</div>
		{{/if}}
	{{/contentFor}}
	
	{{#ionView}}
	    {{#if hasCurClassroom}}
			{{#with classroom}}
				{{#ionSubheaderBar class="bar-stable subtitle"}}
					<h2 class="title">{{name}} [{{i18n_ClassStatus status}}]</h2>
		    	{{/ionSubheaderBar}}
			{{/with}}
		{{/if}}

		{{#ionContent class="has-footer"}}
			{{#if hasCurClassroom}}
				<h4 class="viewTitle" id="viewTitle">{{_ "send_panel_view_title"}}</h4>
				{{> ticketPanel panelArg}}
				{{ afterHasClassroomTrigger}}
			{{else}}
				{{> classEntry}}
			{{/if}}

	    {{/ionContent}} 
	{{/ionView}}
</template>  