<template name="studentWork">  
	{{#contentFor "headerTitle"}}
		{{#if hasCurClassroom}}
			{{#with classroom}}
				<h1 class="title title-center">Work Mode</h1>
			{{/with}}
		{{else}}
			<h1 class="title">Pick a classroom to start</h1>
		{{/if}} 	
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		<button class="button button-clear" data-ion-popover="studentMenu">
		  {{#if isAndroid}}
		    {{> ionIcon icon='android-more-vertical'}}
		  {{else}}
		    {{> ionIcon icon='more'}}
		  {{/if}}
		</button>
	{{/contentFor}}
	
	{{#ionView}}
	    {{#ionSubheaderBar class="bar-stable subtitle"}}
			{{#if hasCurClassroom}}
				{{#with classroom}}
					<h2 class="title">{{name}} [{{status}}]</h2>
				{{/with}}
			{{else}}
				<h2 class="title">Use one of the option</h2>
			{{/if}}
	    {{/ionSubheaderBar}}

		{{#ionContent class="padding"}}
			{{#if hasCurClassroom}}
				<h4 class="viewTitle" id="viewTitle">Send your request</h4>
				<div id="carousel">
				    <div class="container">
				    	
				    </div>
				</div>

				<!-- <div id="circles-counter">
				    <span>0 circles</span>
				  </div> -->

				<nav class='circle-menu'>
				  <input checked='checked' class='menu-toggler' id='menu-toggler' type='checkbox'>
				  <label for='menu-toggler'></label>
				  <div class='menu-toggler-circle'></div>
				  <ul>
				    <li class='worktab-menu-item'>
				      <a class='icon button-icon' id="numEight" target='_blank' style="background: rgba(255,120,0, 0.7)">8</a>
				    </li>
				    <li class='worktab-menu-item'>
				      <a class='icon button-icon' id="numNine" target='_blank' style="background: rgba(255,60,0, 0.8)">9</a>
				    </li>
				    <li class='worktab-menu-item'>
				      <a class='icon button-icon' id="numTen" target='_blank' style="background: rgba(255,0,0, 0.9)">10</a>
				    </li>
				    <li class='worktab-menu-item'>
				      <a class='icon button-icon' id="numOne" target='_blank' style="background: rgba(0,255,0, 0.2)">1</a>
				    </li>
				    <li class='worktab-menu-item'>
				      <a class='icon button-icon' id="numTwo" target='_blank' style="background: rgba(60,255,0, 0.3)">2</a>
				    </li>
				    <li class='worktab-menu-item'>
				      <a class='icon button-icon' id="numThree" target='_blank' style="background: rgba(120,255,0, 0.4)">3</a>
				    </li>
				    <li class='worktab-menu-item'>
				      <a class='icon button-icon' id="numFour" target='_blank' style="background: rgba(180,255,0, 0.5)">4</a>
				    </li>
				    <li class='worktab-menu-item'>
				      <a class='icon button-icon' id="numFive" target='_blank' style="background: rgba(240,255,0, 0.6)">5</a>
				    </li>
				    <li class='worktab-menu-item'>
				      <a class='icon button-icon' id="numSix" target='_blank' style="background: rgba(255,240,0, 0.6)">6</a>
				    </li>
				    <li class='worktab-menu-item'>
				      <a class='icon button-icon' id="numSeven" target='_blank' style="background: rgba(255,180,0, 0.6)">7</a>
				    </li>
				  </ul>
				</nav>
			{{else}}
				{{> classEntry}}
			{{/if}}

	    {{/ionContent}} 
	{{/ionView}}
</template>  