<template name="chatRoom">
    {{#unless hasData}}
        <div class=" cover_layer">
            <h1 class="title placeholder_text">{{_ "empty_chat_room_data_msg"}}</h1>
        </div>
    {{/unless}}
    <div class="conversation">
        <div class="toPerson">
            <span>To: <span class="name">{{toChannel}}</span></span>
        </div>
        <div class="chat active-chat" id="messages">
            {{#with messages}}
                {{#if this.length}}
                    {{#each this}}
                        {{> chatBubble chatBubbleArg this}}
                    {{/each}}
                {{else}}
                  <div class="padding text-center">
                      {{empty_content_str}}
                  </div>
                {{/if}}
            {{/with}}
        </div>
        <div class="write">
            <!-- <a href="javascript:;" class="write-link attach"></a> -->
            <!-- <input type="text" name="message" placeholder="Type your message here..."/> -->
            <textarea class="msgInputBox" rows="1" placeholder="Type your message here..."></textarea>
            <!-- <a href="javascript:;" class="write-link smiley"></a> -->
            <!-- <a href="javascript:;" class="write-link send"></a> -->
            <!-- <i class="write-link send icon ion-paper-airplane"></i> -->
            <a class="send button button-icon icon ion-paper-airplane"></a>
        </div>
    </div>
</template>
