<template name="createClassroom">  
{{#ionModal title="create_classroom_page_title"}}
<form class="new_classroom">
	<div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">{{_ "create_classroom_class_name_title"}}</span>
	    <input type="text" name="classroomName" placeholder={{_ "create_classroom_class_name_placeholder"}} />
	    <span class="errorMsg positive" name="classroomNameErr">
	    	{{_ "class_name_already_exist_error_msg"}}
	    </span>
	  </label>
	  <!-- <label class="item item-input item-stacked-label">
	    <span class="input-label">Shortcode</span>
	    <input type="text" name="shortcode" placeholder="Optional">
	  </label> -->
	  <!-- <label class="item item-input item-stacked-label">
	    <span class="input-label">Description</span>
	    <input type="text" name="description" placeholder="About gravity and black hole">
	  </label> -->
	  <!-- <label class="item item-input item-stacked-label">
	    <span class="input-label">Subject</span>
	    <input type="text" placeholder="Science">
	  </label> -->
		
		<div class="button-bar">
			<button type="submit" id="createClassroom" class="button button-positive">
				{{_ "create_classroom_button_text"}}
			</button>
		</div>
	</div>
</form>
 {{/ionModal}}
</template>