<template name="classRecord">  
{{#ionModal title="Participation Record"}}
	<div class="wrapper">
		{{#each ticketRecords}}
			<div class="ticketSquare">
				<div id={{_id}}  class="avatar stable">
					{{#if isTalkTicket ticketType}}
						<a class={{getIntentIconClass ticketContent}} ></a>
					{{else}}
						<a class="icon">{{ticketContent}}</a>
					{{/if}}
					<div class="bottom_badge">{{user.participation.attendTimes}}</div>
					<div class="top_badge">{{user.participation.selectedTimes}}</div>
				</div>
				<p>{{user.profile.firstName}}, {{user.profile.lastName}}</p>
			</div>
			{{ afterRenderTrigger}}
		{{/each}}
	</div>
 {{/ionModal}}
</template>