<template name="editClassroom">  
{{#ionModal title="Edit Classroom"}}
	{{#with classroomInfo}}
		<form class="edit_classroom">
			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Classroom Name</span>
			    <input type="text" name="classroomName" placeholder="Science course Nov.10" value="{{name}}" />
			    <span class="errorMsg positive" name="classroomNameErr">Classroom name is already exist!</span>
			  </label>
			  <!-- <label class="item item-input item-stacked-label">
			    <span class="input-label">Shortcode</span>
			    <input type="text" name="shortcode" placeholder="Optional">
			  </label> -->
			  <!-- <label class="item item-input item-stacked-label">
			    <span class="input-label">Description</span>
			    <input type="text" name="description" placeholder="About gravity and black hole">
			  </label> -->
			  <!-- <label class="item item-input item-stacked-label">
			    <span class="input-label">Subject</span>
			    <input type="text" placeholder="Science">
			  </label> -->
				
				<div class="button-bar">
					<button type="submit" class="button button-positive">
						Save
					</button>
				</div>
			</div>
		</form>
	{{/with}}
{{/ionModal}}
</template>